/* Auth Pages */
.auth-container {
    min-height: calc(100vh - 80px);
    /* minus navbar */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.auth-card {
    width: 100%;
    max-width: 450px;
    padding: 2.5rem;
}